body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    overflow: hidden;
    flex-direction: column;
    align-items: center;
    background-color: #f5f5f5;
}

.input-text::placeholder {
    font-size: 0.9375rem;
}

@media screen and (max-width: 384px) {

    .logo-container img,
    .login-container,
    .register-container {
        width: 100%;
        padding: 10px;
    }

    .logo-container img {
        max-width: 100px;
    }

    label,
    .password-info,
    .login-link,
    .register-link,
    button {
        font-size: 0.75rem;
    }

    button {
        padding: 10px;
    }
}

.logo-container {
    margin-top: 15px;
}

.logo-container img {
    max-width: 200px;
    max-height: 100px;
}

.register-container,
.login-container {
    background-color: #fff;
    padding: 30px;
    border-radius: 8px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
    width: 90%;
    max-width: 400px;
    text-align: center;
    margin-top: 20px;
}

label {
    display: block;
    margin: 20px 0 8px;
    color: #666;
    font-weight: 600;
}

.input-text,
.select-text {
    width: 100%;
    height: 6vh;
    border: 1px solid #ddd;
    border-radius: 50px;
    padding: 10px 20px;
    font-size: 1.25rem;
    outline: none;
    box-sizing: border-box;
}

.eye-icon {
    position: absolute;
    right: 20px;
    top: 50%;
    transform: translateY(-50%);
    cursor: pointer;
}

.eye-icon i {
    font-size: 18px;
    color: #000;
    display: inline;
}

.button-confirm {
    background-color: #4caf50;
    color: #fff;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 1rem;
    transition: all 0.3s ease;
}

button:hover {
    background-color: #45a049;
}

.input-container {
    display: flex;
    width: 100%;
    margin-bottom: 16px;
    position: relative;
}

.validation-icon {
    position: absolute;
    top: 50%;
    right: 10px;
    transform: translateY(-50%);
    width: 20px;
    height: 20px;
    background-size: cover;
}

#registerBtn:disabled,
#verifyCodeBtn:disabled,
#resetBtn:disabled {
    background-color: #ccc;
    cursor: not-allowed;
}
